<div class="col-md-4">
    <div class="card mb-3">
        <img src="/{{ image.url }}" class="card-img-top rounded" alt="Imagen" role="button" data-bs-toggle="modal"
            data-bs-target="#imageModal{{ image.url }}">
        <div class="card-body">
            <a href="/account/{{ image.usrname }}" class="text-decoration-none link-dark"> <b>{{
                    image.usrname }}</b></a>
            <p class="card-title">{{ image.caption }}</p>
            <div class="d-flex justify-content-start">
                <div class="like-container d-flex flex-column align-items-center">
                    <form action="/photo/like" method="post">
                        <input type="text" id="hiddenUrl" name="hiddenUrl" value="{{ image.url }}" hidden>
                        <button type="submit" class="btn">
                            <img src="{% if current_user.username in image.liked_by %}/static/icons/like-red.svg{% else %}/static/icons/like-white.svg{% endif %}"
                                alt="Like">
                        </button>
                        <p style="text-align: center;">{{ image.likes }}</p>
                    </form>
                </div>
            </div>

            <!-- Modal for each image -->
            <div class="modal fade" id="imageModal{{ image.url }}" tabindex="-1"
                aria-labelledby="imageModalLabel{{ image.url }}" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModalLabel{{ image.url }}">Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{ image.url }}" class="img-fluid w-100 rounded" alt="Imagen">
                                    <div class="d-flex justify-content-start">
                                        <div class="like-container d-flex flex-column align-items-center">
                                            <form action="/photo/like" method="post">
                                                <input type="text" id="hiddenUrl" name="hiddenUrl"
                                                    value="{{ image.url }}" hidden>
                                                <button type="submit" class="btn">
                                                    <img src="{% if current_user.username in image.liked_by %}/static/icons/like-red.svg{% else %}/static/icons/like-white.svg{% endif %}"
                                                        alt="Like">
                                                </button>
                                                <p style="text-align: center;">{{ image.likes }}</p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a href="/account/{{ image.usrname }}" class="text-decoration-none link-dark">
                                        <b>{{ image.usrname }}</b>
                                    </a>
                                    <p class="card-title">{{ image.caption }}</p>
                                    <!-- Section for comments -->
                                    <div id="commentsSection{{ image.url }}">
                                        <form action="/comment/add" method="post">
                                            <input type="text" name="hiddenUrl" value="{{ image.url }}" hidden>
                                            <textarea name="comment" class="form-control"
                                                placeholder="Escribe un comentario"></textarea>
                                            <button type="submit" class="btn btn-primary mt-2">
                                                <img width="24px" src="/static/icons/message-circle.svg" title="Send" />
                                            </button>
                                        </form>
                                        <p>Comentarios:</p>
                                        <div>
                                            {% for comment in image.get_comments(srp) %}
                                            <div class="comment mb-2 d-flex justify-content-between align-items-center">
                                                <div style="max-width: 90%;">
                                                    <a href="/account/{{ comment.usrname }}"
                                                        class="text-decoration-none link-dark">
                                                        <b>{{ comment.usrname }}</b>
                                                    </a>
                                                    <small>{{ comment.time }}</small>
                                                    <p style="word-wrap: break-word;       
                                                    overflow-wrap: break-word;   
                                                    white-space: pre-wrap;">{{ comment.msg}}</p>
                                                </div>
                                                {% if current_user.username == comment.usrname %}
                                                <a class="btn btn-danger" id="deleteCommentButton" role="button"
                                                    onclick="window.location = '/comment/delete?photo_id={{ image.get_safe_id(srp) }}&comment_id={{ comment.get_safe_id(srp) }}'">
                                                    <img width="24px" src="/static/icons/trash.svg" title="Delete" />
                                                </a>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if current_user.username == image.usrname %}
                        <div class="modal-footer">
                            <a class="btn btn-primary" id="modifyButton" role="button" data-bs-toggle="modal"
                                data-bs-target="#editPhotoModal">
                                <img width="24px" src="/static/icons/edit.svg" title="Edit" />
                            </a>


                            <a class="btn btn-danger" id="deleteButton" role="button" data-bs-toggle="modal"
                                data-bs-target="#deletePhotoModal">
                                <img width="24px" src="/static/icons/trash.svg" title="Delete" />
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if current_user.username == image.usrname %}
            <!-- Abre el modal -->
            <a class="btn btn-primary" id="modifyButton" role="button" data-bs-toggle="modal"
                data-bs-target="#editPhotoModal">
                <img width="24px" src="/static/icons/edit.svg" title="Edit" />
            </a>


            <a class="btn btn-danger" id="deleteButton" role="button" data-bs-toggle="modal"
                data-bs-target="#deletePhotoModal">
                <img width="24px" src="/static/icons/trash.svg" title="Delete" />
            </a>

            <!-- Modal -->
            <div class="modal fade" id="deletePhotoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar fotografía</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro de eliminar la fotografía?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">
                                <img width="24px" src="/static/icons/arrow-left.svg" title="CloseModal" />
                            </button>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-danger"
                                onclick="window.location = '/photo/delete?photo_id={{ image.get_safe_id(srp) }}'">
                                <img width="24px" src="/static/icons/trash.svg" title="Modify" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="editPhotoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Photo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="frmModifyPh" name="frmModifyPh" action="/photo/modify"
                                enctype="multipart/form-data" method="POST">
                                <input type="text" id="hiddeUrl" name="hiddenUrl" class="form-control" hidden
                                    value="{{ image.url }}" />
                                <!-- Caption input -->
                                <div class="form-group">
                                    <label for="modifyCaption">Pie de Foto</label>
                                    <input type="text" id="modifyCaption" name="modifyCaption" class="form-control" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">
                                <img width="24px" src="/static/icons/arrow-left.svg" title="CloseModal" />
                            </button>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary" onclick="document.frmModifyPh.submit()">
                                <img width="24px" src="/static/icons/save.svg" title="Modify" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>