{% extends "skeleton.html" %}

{% block contents %}

{% if usr %}


<div id="dvLogin" class="card" style="margin: 10px">
<div class=”card-header”>Nuevo enlace</div>
<div class=”card-body”>
    <form   id="frmLogin" name="frmNewLink"
            action="/link/add"
            method="POST">

        <label for="edName">Nombre</label>
        <input type="text" id="edName" name="edName"
               placeholder="nombre..." />
        <br/>

        <label for="edURL">URL</label>
        <input type="text" id="edURL" name="edURL"
               placeholder="url..." />
        <br/>

        <div style="margin: 5px">
        <a href="#" onclick="document.frmNewLink.submit()" class="btn btn-primary">
            <img width="24px" src="/static/login.svg" title="Añadir" />
            &nbsp;
            Añadir
        </a>
        <a href="#" onclick="window.location='/'" class="btn btn-primary">
        <img width="24px" src="/static/back.svg" title="Volver" />
        &nbsp;
        Volver
        </a>
        </div>
    </form>
</div>
</div>

{% endif %}
{% endblock %}
