{% extends "skeleton.html" %}
{% block contents %}


<button class="btn btn-primary m-1 position-fixed bottom-1 end-1 m-3 z-3">
    <img width="24px" src="/static/icons/arrow-left.svg" title="GoBack" onclick="goBack()" />
</button>

<div class="media; " style="width: 50%; margin-left: 25%; padding-top: 5%;">
    <img class="rounded" src="{{ acc_usr.profile_picture }}" style="width: 25%; height: 25%;">
    <div class="media-body">
        <h2 class="account-heading">{{ acc_usr.username }}</h2>
        <p class="text-secondary">{{ acc_usr.name }}</p>

        {% if acc_usr == current_user %}

        <!-- Abre el modal -->
        <a class="btn btn-primary" id="modifyButton" role="button" data-bs-toggle="modal" data-bs-target="#editModal">
            <img width="24px" src="/static/icons/edit.svg" title="Edit" />
        </a>


        <a class="btn btn-danger" id="deleteButton" role="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <img width="24px" src="/static/icons/trash.svg" title="Delete" />
        </a>





        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar perfil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro de eliminar el perfil?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">
                            <img width="24px" src="/static/icons/arrow-left.svg" title="CloseModal" />
                        </button>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-danger"
                            onclick="window.location = '/user/delete?usr_id={{ acc_usr.get_safe_id(srp) }}'">
                            <img width="24px" src="/static/icons/trash.svg" title="Modify" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="frmModify" name="frmModify" action="/user/modify" enctype="multipart/form-data"
                            method="POST">
                            <!-- Name input -->
                            <div class="form-group">
                                <label for="modifyName">Name</label>
                                <input type="text" id="modifyName" name="modifyName" class="form-control"
                                    placeholder="{{ acc_usr.name }}" />
                            </div>

                            <!-- Username input -->
                            <div class="form-group">
                                <label for="modifyUsername">Username</label>
                                <input type="text" id="modifyUsername" name="modifyUsername" class="form-control"
                                    placeholder="{{ acc_usr.username }}" />
                            </div>

                            <!-- Email input -->
                            <div class="form-group">
                                <label for="modifyEmail">Email</label>
                                <input type="email" id="modifyEmail" name="modifyEmail" class="form-control"
                                    placeholder="{{ acc_usr.email }}" />
                            </div>

                            <!-- Password input -->
                            <div class="form-group">
                                <label for="modifyPassword">Password</label>
                                <input type="password" id="modifyPassword" name="modifyPassword" class="form-control"
                                    placeholder="¿Qué miras pillin?" />
                            </div>

                            <!-- Repeat Password input -->
                            <div class="form-group">
                                <label for="modifyRepeatPassword">Repeat password</label>
                                <input type="password" id="modifyRepeatPassword" name="modifyRepeatPassword"
                                    class="form-control" placeholder="¿Qué miras pillin?" />
                            </div>
                            <br>
                            <!-- Image file -->
                            <div class="form-group">
                                <figure class="image-container">
                                    <img id="chosen-image" class="rounded"
                                        style="display: block;position: relative;margin: auto;max-width: 100%; max-height: 300px;">
                                </figure>

                                <input type="file" id="modifyProfilePic" name="modifyProfilePic" accept="image/*"
                                    style="display: none;">
                                <label for="modifyProfilePic" style="display: block;
                                position: relative;
                                background-color: #025bee;
                                color: #ffffff;
                                font-size: 18px;
                                text-align: center;
                                width: 300px;
                                padding: 18px 0;
                                border-radius: 5px;
                                margin: auto;
                                cursor: pointer;">
                                    <img src="/static/icons/upload.svg"> &nbsp; Cambiar Foto de Perfil
                                </label>
                            </div>


                            <br>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">
                            <img width="24px" src="/static/icons/arrow-left.svg" title="CloseModal" />
                        </button>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary" onclick="document.frmModify.submit()">
                            <img width="24px" src="/static/icons/edit.svg" title="Modify" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}



        <div id="dvSeparator1" style="padding-top: 5%"></div>
        <div class="row justify-content-center">
            <!-- Aquí irán las imágenes de tu base de datos -->
            {% for image in list_images %}
                {% include "photo.html" %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }

    let uploadButton = document.getElementById("modifyProfilePic");
    let chosenImage = document.getElementById("chosen-image");

    uploadButton.onchange = () => {
        let reader = new FileReader();
        reader.readAsDataURL(uploadButton.files[0]);
        reader.onload = () => {
            chosenImage.setAttribute("src", reader.result);
        }
    }
</script>

{% endblock %}