{% extends "skeleton.html" %}

{% block contents %}

{% if usr %}

<div class="card" id="dvLinks" style="margin: 10px">
    <div class=”card-header”>Links</div>
    <div class=”card-body”>
        {% if link_list %}
        <ul class="list-group list-group-flush list-group-numbered">
            {% for link_entry in link_list %}
            <li class=”list-group-item”>
                <a class="btn btn-warning" href="#"
                    onclick="window.location='/link/delete?link_id={{ link_entry.get_safe_id(srp) }}'" role="button">
                    <img width="24px" src="/static/delete.svg" title="add" />
                    &nbsp;
                    Borra</a>
                &nbsp;
                {% include "link_entry.html" %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <b>Nada por aquí...</b>
        {% endif %}
        <div id="dvButtons" style="margin-top: 5%">
            <a class="btn btn-primary" href="#" onclick="window.location='/link/add'" role="button">
                <img width="24px" src="/static/add.svg" title="add" />
                &nbsp;
                Añade</a>
        </div>
    </div>
</div>

{% else %}
<div style="width: 26%; margin-left: 37%;">
    
<!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-login" data-mdb-pill-init href="#pills-login" role="tab"
        aria-controls="pills-login" aria-selected="true">Login</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register" data-mdb-pill-init href="#pills-register" role="tab"
        aria-controls="pills-register" aria-selected="false">Register</a>
    </li>
  </ul>
  <!-- Pills navs -->
  
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form id="frmLogin" name="frmLogin" action="/login" method="POST">  
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="loginName" name="loginName" class="form-control" />
          <label class="form-label" for="loginName">Email or username</label>
        </div>
  
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="loginPassword" name="loginPassword" class="form-control" />
          <label class="form-label" for="loginPassword">Password</label>
        </div>
  
        <!-- Submit button -->

        <a class="btn btn-primary" href="#" onclick="document.frmLogin.submit()" role="button">
            <img width="24px" src="/static/icons/log-in.svg" title="Login" />
        </a>
      </form>
    </div>
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form id="frmRegister" name="frmRegister" action="/user/add" method="POST">  
        <!-- Name input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="registerName" name="registerName" class="form-control" />
          <label class="form-label" for="registerName">Name</label>
        </div>
  
        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="registerUsername" name="registerUsername" class="form-control" />
          <label class="form-label" for="registerUsername">Username</label>
        </div>
  
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="registerEmail" name="registerEmail" class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
  
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="registerPassword" name="registerPassword" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>
  
        <!-- Repeat Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="registerRepeatPassword" name="registerRepeatPassword" class="form-control" />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>
  
  
        <!-- Submit button -->
        <a class="btn btn-primary" href="#" onclick="document.frmRegister.submit()" role="button">
            <img width="24px" src="/static/icons/user-plus.svg" title="Login" />
        </a>
      </form>
    </div>
  </div>
  <!-- Pills content -->

</div>




<script>
    $(document).ready(function () {
        $('#tab-register').click(function () {
            event.preventDefault();
            $('#tab-login').removeClass('active show');
            $('#pills-login').removeClass('active show');
            $('#tab-register').addClass('active show');
            $('#pills-register').addClass('active show');
        });

        $('#tab-login').click(function () {
            event.preventDefault();
            $('#tab-register').removeClass('active show');
            $('#pills-register').removeClass('active show');
            $('#tab-login').addClass('active show');
            $('#pills-login').addClass('active show');
        });
    });
</script>

{% endif %}
{% endblock %}